# Node.js dependencies
node_modules/

# Environment variables file
.env

# macOS specific files
.DS_Store

# Build output directories (common examples)
dist/
build/
out/

# Log files
*.log

# editor config
.vscode/
.idea/