.hero {
  background: rgba(0, 0, 0, 0.95); 
  width: 50%; 
  margin: 100px auto 0; 
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7); 
  transition: transform 0.3s ease;
}

.hero:hover {
  transform: scale(1.02); 
}

.hero-content h1 {
  color: white;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-content p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-content h6 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background: black;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  opacity: 0.9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: 0 0 15px rgba(57, 255, 20, 0.9);
}



@media (max-width: 1024px) {
  .hero {
    width: 65%; 
    margin: 80px auto 0; 
    padding: 30px; 
  }

  .hero-content h1 {
    font-size: 2.4rem; 
  }

  .hero-content p {
    font-size: 1.1rem; 
  }

   .hero-content h6 {
    font-size: 1.8rem; 
  }

  .buttons {
    gap: 15px; 
  }

  .btn {
    padding: 10px 20px; 
  }
}

@media (max-width: 768px) {
  .hero {
    width: 80%; 
    margin: 60px auto 0; 
    padding: 25px; 
  }

  .hero-content h1 {
    font-size: 2rem; 
  }

  .hero-content p {
    font-size: 1rem; 
  }

   .hero-content h6 {
    font-size: 1.6rem; 
  }

  .buttons {
    flex-direction: column; 
    gap: 10px; 
    align-items: center; 
  }

  .btn {
    width: 80%; 
    max-width: 200px;
    padding: 12px 20px; 
  }
}

@media (max-width: 480px) {
  .hero {
    width: 90%; 
    margin: 50px auto 0;
    padding: 20px; 
  }

  .hero-content h1 {
    font-size: 1.6rem; 
  }

  .hero-content p {
    font-size: 0.9rem; 
  }

   .hero-content h6 {
    font-size: 1.4rem; 
  }

  .buttons {
    gap: 8px; 

   .btn {
    width: 90%; 
    max-width: none; 
    padding: 10px 15px; 
  }
}
}