
.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
  }
  
  
  section {
    width: 100%;
    padding: 60px 0; 
    box-sizing: border-box;
  }
  
 
  .hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .about-section,
  .services-section {
    margin-top: 50px;
  }
  
  
  .hero-section {
    background-color: #000; 
  }
  
  .about-section {
    background-color: transparent;
  }
  
  .services-section {
    background-color: transparent;
  }
  
  .full-width {
    width: 100%; 
}
